global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']
  - job_name: node
    static_configs:
      - targets: ['node_exporter:9100']
  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres_exporter:9187']   # Docker container host or service name
